{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="container">
    {% if tickets %}
    <h2 class="subtitle">Open Tickets</h2>
    <br>
    <div class="text-left">
        <a class="btn btn-primary" href="/ticket">New Ticket</a>
    </div>
    <br>
    {% for ticket in tickets %}
        <div class="card border-secondary">
            <div class="card-body">
                <h5 class="card-title">
                    {{ ticket.title }}
                </h5>
                <h6 class="card-subtitle text-muted">
                    {{ ticket.author }}
                </h6>
                <br>
                <p class="card-text">
                    {{ ticket.content }}
                </p>
            </div>
            <div class="card-footer text-muted">
                <a class="btn btn-danger" href="/delete/{{ticket.id}}">Close</a>
            </div>
        </div>
        <br>
    {% endfor %}
    {% else %}
    <h2 class="subtitle">No Tickets</h2>
    <br>
    <a class="btn btn-primary" href="/ticket">Add One</a>
    {% endif %}
</div>
{% endblock %}
